<header>
    <h1>This is header partials</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At enim iure culpa. Accusantium debitis quas error consequatur qui, omnis soluta?</p>
    <p><a href="/">Home</a></p>
    <p><a href="/about">About</a></p>
    <p><a href="/projects">Projects</a></p>
</header>